<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/paginaprofi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profesori</title>
  </head>
  <body>
    <h1 style="text-align:center;">Pagina ta</h1>
    <br>
    <br>
    <div class="absente" id="absente">
      <h3 style="text-align:center;">Introduceti Absente</h3>
      <form method="post" action="mailto:youremail@email.com" style="text-align:center;">
	<p>ID Elev:</p><input type="number" size="10" maxlength="10" name="id_elev" /> <br />
  <p>ID Materie:</p><input type="number" size="10" maxlength="10" name="id_materie" /><br />
  <p>Data:</p> <input type="date" size="10" maxlength="10" name="Data" />
  <br><input type="submit" value="Adaugati" />
</form>

</div>
    <div class="note" id="note">
      <h3 style="text-align:center;">Introduceti note</h3>
      <form method="post" action="mailto:youremail@email.com" style="text-align:center;">
        <p>ID Elev:</p><input type="number" size="10" maxlength="10" name="id_elev" /> <br />
        <p>ID Materie:</p><input type="number" size="10" maxlength="10" name="id_materie" /><br />
        <p>Valoare nota:</p><input type="number" size="2" maxlength="2" name="valoare_nota" /><br />
        <p>Data:</p> <input type="date" size="10" maxlength="10" name="Data" /><br />
                           <input type="submit" value="Adaugati" />
</div>


</form>

  </body>
