<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/pagina_elevi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elevi</title>
  </head>
  <body>
    <h1 style="text-align:center;">Pagina ta</h1>
    <br>
    <br>
    <div class="absente" id="absente">
      <h3 >Afisati Absente</h3>
      <button type="button" onclick="alert('Afsate Absente')" style="width: 250px;" >Afiseaza absente!</button>
    </div>
    <div class="note" id="note">
      <h3 >Afisati note</h3>
      <button type="button" onclick="alert('Afisare Note')" style="width: 250px;" >Afiseaza note!</button>
</div>
<div class="media" id="media">
<h3 >Calculati Media</h3>
  <button type="button" onclick="alert('Medie Calculata')" style="width: 250px;" >Calculeaza media!</button>
</div>

  </body>
